[Unit]
Description=Lsminer Reboot Service
After=lightdm.service

[Service]
User=lsminer
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/lsminer/lsminer/boot/redline start
ExecStopPost=/home/lsminer/lsminer/boot/redline stop

[Install]
WantedBy=graphical.target
